In [27]:
import pandas as pd
import numpy as np
import quantiacsToolbox
from keras.models import Sequential
#from sklearn.model_selection import train_test_split
from pmdarima import auto_arima
import technical_analysis_functions as taf

from keras.layers import LSTM
from keras.layers import Activation, Dense
from keras.layers import Dropout

In [ ]:
# https://www.tensorflow.org/tutorials/structured_data/time_series
# https://github.com/peter001zhang/q_trading

# Reading Data

In [ ]:
markets = ['F_AD','F_BO','F_BP','F_C','F_CC','F_CD','F_CL',
        'F_CT','F_DX','F_EC','F_ES','F_FC','F_FV','F_GC','F_F',
        'F_HG','F_HO','F_JY','F_KC','F_LB','F_LC','F_LN','F_MD',
        'F_MP','F_NG','F_NQ','F_NR','F_O','F_OJ','F_PA','F_PL',
        'F_RB','F_RU','F_S','F_SB','F_SF','F_SI','F_SM','F_TU',
        'F_TY','F_US','F_W','F_XX','F_YM','F_AX','F_CA','F_DT',
        'F_UB','F_UZ','F_GS','F_LX','F_DL','F_ZQ','F_VX','F_SS',
        'F_AE','F_BG','F_BC','F_LU','F_DM','F_AH','F_CF','F_DZ',
        'F_FB','F_FL','F_FM','F_FP','F_FY','F_GX','F_HP','F_LR',
        'F_LQ','F_ND','F_NY','F_PQ','F_RR','F_RF','F_RP','F_RY',
        'F_SH','F_SX','F_TR','F_EB','F_VF','F_VT','F_VW','F_GD']

In [2]:
curr_futures = 'F_AD'
filename = '~/Desktop/Team_Ravioli_Timeseries/tickerData/'+curr_futures+'.txt'

In [3]:
data = pd.read_csv(filename, sep = ",", header = None)
data.columns = [i.strip() for i in data.iloc[0]]
data = data[1:-1]
data = data.apply(pd.to_numeric)
data= data.reset_index()

In [4]:
data.head()

,index,DATE,OPEN,HIGH,LOW,CLOSE,VOL,OI,P,R,RINFO
0,1,19900102,77300.0,77400.0,77020.0,77020.0,125,2559,0,0,0.0
1,2,19900103,76890.0,77030.0,76700.0,76740.0,1495,3215,0,0,0.0
2,3,19900104,77080.0,77610.0,77000.0,77490.0,932,3122,0,0,0.0
3,4,19900105,77050.0,77280.0,76980.0,76980.0,272,2542,0,0,0.0
4,5,19900108,77280.0,77300.0,77090.0,77200.0,177,2430,0,0,0.0

In [ ]:
min(data['DATE'])

# Preprocess Data

In [11]:
data.index[data['DATE'] == 20180119].tolist()

[7056]

In [13]:
# auto arima data input
train_data = data.iloc[0:7056]
model = auto_arima(train_data['CLOSE'], error_action='ignore', suppress_warnings=True, seasonal=True, m=4)
model.predict(n_periods=1)[0]

79941.27761540363

In [5]:
# technical analysis data input
data['TRIX'] = taf.TRIX(data, 5)
data['VWAP'] = taf.VWAP(data, 5)
data['RSI_S'] = taf.RSI_S(data, 5)
data['SMA'] = taf.SMA(data, 5)
data['EMA'] = taf.EMA(data, 5)

In [6]:
data.head()

,index,DATE,OPEN,HIGH,LOW,CLOSE,VOL,OI,P,R,RINFO,TRIX,VWAP,RSI_S,SMA,EMA
0,1,19900102,77300.0,77400.0,77020.0,77020.0,125,2559,0,0,0.0,77020.000000,77020.000000,0.000000,77020.000000,77020.000000
1,2,19900103,76890.0,77030.0,76700.0,76740.0,1495,3215,0,0,0.0,77009.629630,76761.604938,0.000000,76880.000000,76926.666667
2,3,19900104,77080.0,77610.0,77000.0,77490.0,932,3122,0,0,0.0,77016.666667,77027.617555,72.815534,77083.333333,77114.444444
3,4,19900105,77050.0,77280.0,76980.0,76980.0,272,2542,0,0,0.0,77025.679012,77023.031161,48.701299,77057.500000,77069.629630
4,5,19900108,77280.0,77300.0,77090.0,77200.0,177,2430,0,0,0.0,77039.396433,77033.468844,55.113636,77086.000000,77113.086420

In [21]:
# 60:20:20
df = data[['CLOSE', 'TRIX', 'VWAP', 'RSI_S', 'SMA', 'EMA']]

df_train = df.iloc[1:int(len(data)*0.6)]
df_val = df.iloc[int(len(data)*0.6):int(len(data)*0.8)]
df_test =  df.iloc[int(len(data)*0.8):]

In [35]:
def LSTM_model(inputs, activ_func="linear", dropout=0.10, loss="mae", optimizer="adam"):
    model = Sequential()
    
    model.add(LSTM(64, input_shape=(inputs.shape[0], inputs.shape[1])))
    model.add(Dropout(dropout))
    model.add(Dense(units=128))
    model.add(Dense(units=1))
    model.add(Activation(activ_func))
    
    model.compile(loss=loss, optimizer=optimizer)
    
    return model

In [36]:
LSTM_model(df_train.to_numpy())

WARNING:tensorflow:From /Users/user/.pyenv/versions/anaconda3-5.2.0/lib/python3.6/site-packages/tensorflow/python/ops/resource_variable_ops.py:435: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.